* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #12385e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #999;
}

.form__container {
    background-color: #0e5092;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.form__container h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #a3b3c4;
}

.form__container label {
    font-size: 1rem;
    font-weight: 500;
    color: #999;
    margin-top: 1rem;
}

.form__container input {
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #12385e;
    border-radius: 5px;
    font-size: 1rem;
    color:#999;
}

.form__labelinput {
    display: flex;
    justify-content: space-between;
}

.form__terms {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.form__terms input {
    width: auto;
    margin-right: 1rem;
    margin-top: 1rem;
}

.form__terms label {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    color: #a3b3c4;
}

.form__submit button {
    width: 100%;
    padding: 1rem;
    background-color: #12385e;
    color: #999;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.form__submit button:hover {
    background-color: #2764a1;
}

.form__submit p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #999;
}

.form__submit a {
    color: #999;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.form__submit a:hover {
    text-decoration: underline;
    color: #666;
}